<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script-->
  <!--script src='https://code.jquery.com/jquery-3.4.1.js'></script-->
	
	<script type="text/javascript">

function showOwner() {
  document.getElementById("Editor").style.display = "none";
  document.getElementById("Owner").style.display = "block";  
  document.getElementById("Bailiff").style.display = "none";
  document.getElementById("Concill").style.display = "none";
}  

function showEditor() {
  document.getElementById("Owner").style.display = "none";
  document.getElementById("Editor").style.display = "block";
  document.getElementById("Bailiff").style.display = "none";
  document.getElementById("Concill").style.display = "none";
}

function showBailiff() {
  document.getElementById("Editor").style.display = "none";
  document.getElementById("Owner").style.display = "none";
  document.getElementById("Concill").style.display = "none";
  document.getElementById("Bailiff").style.display = "block";
}

function showConcill() {
  document.getElementById("Editor").style.display = "none";
  document.getElementById("Owner").style.display = "none";
  document.getElementById("Bailiff").style.display = "none";
  document.getElementById("Concill").style.display = "block";
}

	</script>


</head>
<body>

{% extends 'beko/navbar.html' %}


{% block content %}
<div class="container">
	<h3>Page Control</h3>
 <ul class="list-inline">
  <li><a id="tabselect" onclick="showOwner()" href="#Owner">Owner</a></li>
  <li><a id="tabselect" onclick="showEditor()" href="#Editor">Editor</a></li>
  {% if thisUserPower != None %}
  <li><a id="tabselect" onclick="showBailiff()" href="#Bailiff">Bailiff</a></li>
  {% endif %}
  {% if thisUserPower == 1 %}
  <li><a id="tabselect" onclick="showConcill()" href="#Concill">Concill</a></li>
  {% endif %}
</ul>
<div>

<div class="tab-content" > <!--style="display: none"-->
	<div id="Owner" class="" style="width: 100%; height: 90%">
 			 <iframe style="width: 100%; height: 90%;" src="/pageadmo" frameBorder="0">
 			 </iframe>
    </div>


    <div id="Editor" style="display: none; width: 100%; height: 90%" >
 			 <iframe style="width: 100%; height: 90%" src="/pageadme" frameBorder="0"></iframe>
    </div>
	
	
    <div id="Bailiff" style="display: none; width: 100%; height: 90%" >
 			{% if thisUserPower != None %} 
 			 <a>bailiff page</a>
 			{% else %}
 			 <a>Nothing for you here.</a>
 			{% endif %}	 
    </div>
    
    
    <div id="Concill" style="display: none; width: 100%; height: 90%" >
 			{% if thisUserPower == 1 %} 
 			 <a>Concill page</a>
 			{% else %}
 			 <a>Nothing for you here.</a>
 			{% endif %}	 
    </div>
    
</div>

{% endblock %}


</body>