<!doctype html>
<head>
</head>

<body>
Registring in this website you agree whit our terms.
<br><br>
RESPONSABILITY ON INFORMATIONS
<br><br>
Every information in this website is owned and complete responsibility of its declaimers. Thus, this website do not responsabilities by them. 
<br>
-> However, in face of a legal requisition this website can provide informations abbout the users and ban from the system.
<br>
Any abuse on the use of the website services can freely lead to permanent ban from the system.
<br>
Any use of the website for criminal proposes will be reported for the authorities.
<br><br>
COOKIES AND PRIVACY
<br><br>
This website will NEVER sell presonal information of its users, wihtout express permition.
<br>
This website will NEVER make a use of other local files than the putted on the system. 
<br>
<br>
<br>
<a href="/register"><button >Back</button><a>

</body>

</html>