      
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script type="text/javascript">
	function submitRevoke(){
		document.getElementsByName("Radio_Revoke")[0].checked = true;
		document.getElementsByName("Radio_Share")[0].checked = false;
		document.getElementsByName("Radio_Delete")[0].checked = false;
		document.getElementById('selection').submit();
	};

	function submitShare(){
		document.getElementsByName("Radio_Share")[0].checked = true;
		document.getElementsByName("Radio_Revoke")[0].checked = false;
		document.getElementsByName("Radio_Delete")[0].checked = false;
		document.getElementById('selection').submit();
	};

	function submitDelete(){
		document.getElementsByName("Radio_Share")[0].checked = false;
		document.getElementsByName("Radio_Revoke")[0].checked = false;
		document.getElementsByName("Radio_Delete")[0].checked = true;
		document.getElementById('selection').submit();
	};


	function submit(){
		document.getElementById('selection').submit();
	};


	function newpage(){
		window.location.href ="/pageregister";
	};

	function submitButton(element){
		
		page = element.id
		name = element.name
		   //alert(id+ " " +name);

		elementdata = {name: element.name}

		   $.post("/page/"+page, elementdata)
		  
		
		   document.getElementById("pagetypeselecion"+page).innerHTML = "NEW "+name;
 		

 		
	};

	function selectall(){
		itens = document.getElementsByClassName("marcar");
		
		numerofalse = 0;
		i = 0
		for (i=0; i<itens.length ; i++){numerofalse += itens[i].checked;}

		if (numerofalse == itens.length)
		{
			for (i=0; i<itens.length ; i++){itens[i].checked = false;}
		}
		else
		{
			for (i=0; i<itens.length ; i++){itens[i].checked = true;}
		}
	};
		


</script>

</head>

{# Loads some of the macros included with Flask-Bootstrap. We are using the
   utils module here to automatically render Flask's flashed messages in a
   bootstrap friendly manner #}
{% import "bootstrap/utils.html" as utils %}

	
        {%- with messages = get_flashed_messages(with_categories=True) %}

  {%- if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {%- endif %}
  {%- endwith %}



      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% if pagetype == 0 %}     
<form id="selection" action="/pageadmo"  method="POST" onsubmit="return false;">
<table class="table table-striped table-dark">
{% elif pagetype == 1 %}
<form action="/pageadme"  method="POST" onsubmit="return false;">
<table class="table table-striped table-dark">
{% elif pagetype == 2 %}
<form action="/userselection"  method="POST" onsubmit="return false;">
<table class="table table-striped table-dark">
{% endif %}
	<thead>
		<tr>
			{% for column in table.headers %}
			<th>{{column}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for row in table.contents %}
			<tr>
				{% for column in table.headers %}
				<td>
				{% if pagetype == 1 or pagetype == 0 %}
					{% if row[column] == "☑" %}
						<input type = "checkbox" name = check_{{row['Name']}} valor = "selection" class='marcar' style="width: 20px; 
            height: 20px;">
					{% elif row[column] == "﹃" %}
						<div id="pagetypeselecion{{row['Name']}}">
						<button class="btn btn-light btn-sm" onclick="submitButton(this)" id={{row['Name']}} name="fighter">Fighter</button>	
						<button class="btn btn-light btn-sm" onclick="submitButton(this)" id={{row['Name']}} name="team">Team</button>
						<button class="btn btn-light btn-sm" onclick="submitButton(this)" id={{row['Name']}} name="club">Club</button>			
						<button class="btn btn-light btn-sm" onclick="submitButton(this)" id={{row['Name']}} name="event">Event</button>
						<button class="btn btn-light btn-sm" onclick="submitButton(this)" id={{row['Name']}} name="other">Other</button>
						</div>
					{% elif column == 'Name' %}
						<a href="page/{{row['Name']}}" style='color: white' target="_blank">{{row['Name']}}</a>
					{% else %}
						{{row[column]}}
					{% endif %}
				{% elif pagetype == 2 %}
					{% if row[column] == "☑" %}
						<input type = "checkbox" name = check_{{row['Editor']}}_{{row['Page']}} valor = "selection" class='marcar'>
					{% else %}
						{{row[column]}}
					{% endif %}
				{% endif %}
				</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
<button onclick="selectall()" class="btn btn-light" >Select all</button>
{% if pagetype == 0 %}  

<input type="submit" name='Share' value="Share" onclick="submitShare()" class="btn btn-light">
<input type='submit' name='Revoke' value="Revoke" onclick="submitRevoke()" class="btn btn-light">
<button onclick="newpage()" class='btn btn-primary' >New Page</button>



<input type="radio" id="Share" name="Radio_Share" value="Share" style="visibility: hidden;">
<input type="radio" id="Revoke"  name="Radio_Revoke" value="Revoke" style="visibility: hidden;">
<input type="radio" id="Delete"  name="Radio_Delete" value="Delete" style="visibility: hidden;">


<button data-target="#exampleModalCenter" onclick="submitDelete()" class="btn btn-danger" style="position:absolute; right: 0 ">Delete</button>


{% elif pagetype == 1 %}
<input type="submit" value="Abdicate" onclick="submit()" class="btn btn-light">

{% elif pagetype == 2 %}
<input type="submit" value="Revoke" onclick="submit()" class="btn btn-light">

{% endif %}
</form>





